@page
@model OnlineStore.Pages.Admin.Charts.BarChartModel
@{
    ViewData["Title"] = "BarChart";
    Layout = "~/Pages/Layout/_AdminLayout.cshtml";
} 

<head>
 

    
</head>

<body>
    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,

                title: {
                    text: "Doanh số theo tháng"
                },
                axisX: {
                    interval: 2
                },
                axisY2: {
                    interlacedColor: "rgba(1,77,101,.2)",
                    gridColor: "rgba(1,77,101,.1)",
                    title: "Doanh số theo tháng"
                },
                data: [{
                    type: "bar",
                    name: "companies",
                    axisYType: "secondary",
                    color: "#014D65",


                    dataPoints: [
                        {
                            y: @Model.Thang1, label: "Tháng 1"
                        },
                        { y: @Model.Thang2, label: "Tháng 2" },
                        { y: @Model.Thang3, label: "Tháng 3" },
                        { y: @Model.Thang4, label: "Tháng 4" },
                        { y: @Model.Thang5, label: "Tháng 5" },
                        { y: @Model.Thang6, label: "Tháng 6" },
                        { y: @Model.Thang7, label: "Tháng 7" },
                        { y: @Model.Thang8, label: "Tháng 8" },
                        { y: @Model.Thang9, label: "Tháng 9" },
                        { y: @Model.Thang10, label: "Tháng 10" },
                        { y: @Model.Thang11, label: "Tháng 11" },
                        { y: @Model.Thang12, label: "Tháng 12" }
                    ]


                }]
            });
            chart.render();

        }
    </script>
</body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
