@using DAL.Data.Entities
@model IEnumerable<DAL.Data.Entities.Category>

@foreach (Category parentMenu in Model)
{
    <li>
        @if (parentMenu.ParentId == null)
        {
            <a class="color1" asp-page="/Product/Search" asp-page-handler="Category" asp-route-categoryId="@parentMenu.Id">@parentMenu.Name</a>
            @*@foreach (var menu in Model)
                {
                    @if (menu.ParentId == parentMenu.Id)
                    {*@
            @*<div class="wrap-popup column1">
                <div class="popup">*@
            <ul class="nav popup wrap-popup column1">
                @foreach (var menu in Model)
                {
                    @if (menu.ParentId == parentMenu.Id)
                    {
                        <li>


                            <a asp-page="/Product/Search" asp-page-handler="Category" asp-route-categoryId="@menu.Id"><span>@menu.Name</span></a>

                            @*<div class="wrap-popup column1">
                                <div class="popup">*@
                            <ul class="nav popup wrap-popup column1">
                                @foreach (var subMenu in Model)
                                {
                                    if (subMenu.ParentId == menu.Id)
                                    {
                                        <li>

                                            <a asp-page="/Product/Search" asp-page-handler="Category" asp-route-categoryId="@subMenu.Id"><span>@subMenu.Name</span></a>

                                        </li>
                                    }
                                }
                            </ul>
                            @*</div>
                                </div>*@
                        </li>
                    }
                }
            </ul>
            @*</div>
                </div>*@
            @*}
                }*@
        }
    </li>
}
