@model IEnumerable<DAL.Data.Entities.Item>
@using Utilities.Commons

@if (Model != null)
{
    @foreach (var item in Model.Take(2))
    {
        <li class="item">
            <div class="item-inner">
                <div class="icon-sale-label sale-left">Top</div>
                <div class="item-img img-height-133 zoomindex">
                    @if (item.ProductImages.Count() != 0)
                    {
                        bool valid = false;
                        foreach (var _item in item.ProductImages)
                        {
                            if (_item.IsDeleted == false)
                            {
                                <a class="product-image" title=@item.Name href="~/Product/Detail?id=@item.Id">
                                    <figure>
                                        <img class="zoomindex first-img" src="~/images/client/ProductImages/@_item.Name" alt="@item.Name" />
                                    </figure>
                                </a>
                                valid = true;
                                break;
                            }
                        }
                        if (valid == false)
                        {
                            <a class="product-image" title=@item.Name href="~/Product/Detail?id=@item.Id">
                                <figure>
                                    <img class="first-img" src="~/images/client/ProductImages/no-image.jpg" alt="Không thể hiển thị hình ảnh" />
                                </figure>
                            </a>
                        }


                    }
                    else
                    {
                        <a class="product-image" title=@item.Name href="~/Product/Detail?id=@item.Id">
                            <figure>
                                <img class="first-img" src="~/images/client/ProductImages/no-image.jpg" alt="Không thể hiển thị hình ảnh" />
                            </figure>
                        </a>
                    }

                </div>
                <div class="item-info">
                    <div class="info-inner">
                        <div class="item-title"> <a title=@item.Name href="~/Product/Detail?id=@item.Id">@item.Name </a> </div>
                        <div class="ratings">
                            @if (@item.AverageEvaluation != null)
                            {
                                <div class="rateit" data-rateit-value=@Html.Raw(@item.AverageEvaluation) data-rateit-readonly="true"> </div>
                            }
                            else
                            {
                                <span>Chưa có đánh giá nào</span>
                            }
                        </div>

                        <div class="item-price">
                            <div class="price-box"> <span class="regular-price"> <span class="price">@CommonFunctions.FormatNumber(item.Price, 0)&#8363;</span> </span> </div>
                        </div>
                        @*<div class="pro-action">
                            <button data-id="@item.Id" type="button" class="btnAddToCart add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>*@
                        @*<div class="pr-button-hover">
                            <div class="mt-button add_to_wishlist"> <a href="#"> <i class="fa fa-heart-o"></i> </a> </div>
                            <div class="mt-button add_to_compare"> <a href="#"> <i class="fa fa-link"></i> </a> </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </li>
    }
}