@using Microsoft.AspNetCore.Http.Extensions
@model PaginatedList<DAL.Models.Item>

@foreach (var item in Model)
{
    <div class="col-md-4 bottom-cd simpleCart_shelfItem">
        <div class="product-at ">
            <a asp-page="/Product/Detail" asp-route-id="@item.Id">
                <img class="img-responsive" src="~/images/ProductImages/@item.Image" alt="" style="width: 150px; height: 150px;">
            </a>
        </div>
        <p class="tun">@item.Name</p>
        <p class="tun">@item.Price.ToString("#,##") VNĐ</p>
        @*<form asp-page="/Cart/Create" data-ajax-method="POST" data-ajax="true" data-ajax-update="divGioHang"
                  data-ajax-mode="replace" asp-route-itemId="@item.Id" asp-route-strUrl="@Context.Request.GetEncodedUrl()" class="btn btn-primary center-block">
                Thêm vào giỏ hàng
            </form>*@
    </div>
}
<div class="clearfix"></div>
<nav class="in">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        var startIndex = Math.Max(Model.PageIndex - 5, 1);
        var finishIndex = Math.Min(Model.PageIndex + 5, Model.TotalPages);
    }
    <ul class="pagination">
        <li>
            <a id="btnPrevious" class="btn btn-default @prevDisabled">«</a>
        </li>
        @{
            for (var i = startIndex; i <= finishIndex; i++)
            {
                if (i == Model.PageIndex)
                {
                    <li class="active"><a>@i<span class="sr-only">(current)</span></a></li>
                }
                else
                {
                    <li><a onClick="loadPage(@i);">@i<span class="sr-only"></span></a></li>
                }
            }
        }
        <li>
            <a id="btnNext" class="btn btn-default @nextDisabled">»</a>
        </li>
    </ul>
</nav>