@using Microsoft.AspNetCore.Http.Extensions
@using Utilities.Commons
@model PaginatedList<DAL.Data.Entities.Item>

@foreach (var item in Model.Take(16))
{
<li class="item col-lg-3 col-md-4 col-sm-6 col-xs-6 ">
    <div class="product-item">
        <div class="item-inner">
            <div class="product-thumbnail">
                <div class="pr-img-area">
                        <a title=@item.Name href="~/Product/Detail?id=@item.Id">
                            <figure> <img class="first-img" src="~/images/client/ProductImages/@item.Image" alt="Hình ảnh không thể hiển thị"> <img class="hover-img" src="~/images/client/ProductImages/@item.Image" alt="Hình ảnh không thể hiển thị"></figure>
                        </a>
                </div>
                <div class="pr-info-area">
                    <div class="pr-button">
                        <div class="mt-button add_to_wishlist"> <a href="wishlist.html"> <i class="fa fa-heart"></i> </a> </div>
                        <div class="mt-button add_to_compare"> <a href="compare.html"> <i class="fa fa-signal"></i> </a> </div>
                        <div class="mt-button quick-view"> <a href="quick_view.html"> <i class="fa fa-search"></i> </a> </div>
                    </div>
                </div>
            </div>
            <div class="item-info">
                <div class="info-inner">
                    <div class="item-title"> <a title=@item.Name href="~/Product/Detail?id=@item.Id">@item.Name </a> </div>
                    <div class="item-content">
                        <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
                        <div class="item-price">
                            <div class="price-box">
                                <p class="special-price"> <span class="price-label">Special Price</span> <span class="price">@CommonFunctions.FormatNumber(item.Price, 0)&#8363; </span> </p>
                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price"> @CommonFunctions.FormatNumber(item.Price * 150/100, 0)&#8363;</span> </p>
                            </div>
                        </div>
                        <div class="pro-action">
                            <button type="button" class="add-to-cart"><span> Thêm vào giỏ</span> </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
}
<div class="clearfix"></div>
@*<nav class="in">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        var startIndex = Math.Max(Model.PageIndex - 5, 1);
        var finishIndex = Math.Min(Model.PageIndex + 5, Model.TotalPages);
    }
    <ul class="pagination">
        <li>
            <a id="btnPrevious" class="btn btn-default @prevDisabled">«</a>
        </li>
        @{
            for (var i = startIndex; i <= finishIndex; i++)
            {
                if (i == Model.PageIndex)
                {
                    <li class="active"><a>@i<span class="sr-only">(current)</span></a></li>
                }
                else
                {
                    <li><a onClick="loadPage(@i);">@i<span class="sr-only"></span></a></li>
                }
            }
        }
        <li>
            <a id="btnNext" class="btn btn-default @nextDisabled">»</a>
        </li>
    </ul>
</nav>*@