@page
@model OnlineStore.Pages.Admin.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Layout/_AdminLayout.cshtml";
}

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>
        <dd>
            @Html.Raw(@Model.Item.Description)
            @*@Html.DisplayFor(model => model.Item.Description)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.Image)
        </dt>
        <dd>
            <img class="img-responsive" src="~/images/ProductImages/@Model.Item.Image" alt="" style="width: 150px; height: 150px;">
            @*@Html.DisplayFor(model => model.Item.Image)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.Inventory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.Inventory)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.View)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.View)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.BrandName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.BrandName)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.Item.Deleted)
            </dt>*@
        @*<dd>
                @Html.DisplayFor(model => model.Item.Deleted)
            </dd>*@
        @*<dt>
                @Html.DisplayNameFor(model => model.Item.AverageEvaluation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Item.AverageEvaluation)
            </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Item.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Item.Event)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Item.Event.Name)
        </dd>
        @*<dt>
                @Html.DisplayNameFor(model => model.Item.Timestamp)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Item.Timestamp)
            </dd>*@
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
