@page
@using System.Web
@using DAL.Data.Entities
@using DAL.Models
@using Utilities.Commons
@using Microsoft.AspNetCore.Identity
@model OnlineStore.Pages.Product.DetailModel
@using Utilities.Extensions
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    var cus = await UserManager.GetUserAsync(HttpContext.User);
}

@section Scripts{
    <script src="~/js/client/layout/header.js"></script>
    <script src="~/js/client/product/detail-script.js"></script>
    <script src="~/js/client/cart/cart.js"></script>
}

@section Styles{
    <link href="~/node_modules/rateit-npm/src/rateit.css" rel="stylesheet" />
    <link href="~/css/client/layout/style.css" rel="stylesheet" />
    <link href="~/css/client/product/detail.css" rel="stylesheet" />
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="index.html">Home</a><span>&raquo;</span></li>
                    <li class=""> <a title="Go to Home Page" href="shop_grid.html">Fashion</a><span>&raquo;</span></li>
                    <li><strong>Lorem Ipsum is simply</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->
<!-- Main Container -->
<div class="main-container col2-left-layout">
    <div class="container">
        <div class="row">
            <div class="col-main col-sm-9 col-xs-12">
                <div class="product-view-area">
                    <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
                        <div class="icon-sale-label sale-left">Sale</div>
                        <div class="large-image">
                            <a href="@Url.Content("~/images/client/ProductImages/"+Model.Item.ProductImages?.FirstOrDefault()?.Name)" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20">
                                @if (Model.Item.ProductImages?.FirstOrDefault()?.Name != null)
                                {
                                    <img class="zoom-img" src="@Url.Content("~/images/client/ProductImages/"+Model.Item.ProductImages?.FirstOrDefault()?.Name)" alt="products">
                                }
                                else
                                {
                                    <img class="zoom-img" src="~/images/client/ProductImages/default-image.jpg" alt="products">
                                }
                            </a>
                        </div>
                        <div class="flexslider flexslider-thumb">
                            <ul class="previews-list slides" id="previews-list-images">
                                <li>
                                    @if (Model.Item.ProductImages?.FirstOrDefault()?.Name != null)
                                    {
                                        <a href='@Url.Content("~/images/client/ProductImages/"+Model.Item.ProductImages?.FirstOrDefault()?.Name)' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '@Url.Content("~/images/client/ProductImages/"+Model.Item.ProductImages?.FirstOrDefault()?.Name)' "><img src="@Url.Content("~/images/client/ProductImages/"+Model.Item.ProductImages?.FirstOrDefault()?.Name)" alt="Thumbnail 1" /></a>
                                    }
                                    else
                                    {
                                        <a href='~/images/client/ProductImages/default-image.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '~/images/client/ProductImages/default-image.jpg' "><img src="~/images/client/ProductImages/default-image.jpg" alt="Thumbnail 1" /></a>
                                    }
                                </li>
                                @foreach (var item in Model.Item.ProductImages)
                                {
                            <li>
                                @if (Model.Item.ProductImages?.FirstOrDefault()?.Name != null)
                                {
                                    <a href='@Url.Content("~/images/client/productimages/"+item.Name)' class='cloud-zoom-gallery' rel="usezoom: 'zoom1', smallimage: '@Url.Content("~/images/client/productimages/"+item.Name)' "><img src="@Url.Content("~/images/client/productimages/"+item.Name)" alt="thumbnail 1" /></a>
                                }
                                else
                                {
                                    <a href='~/images/client/ProductImages/default-image.jpg' class='cloud-zoom-gallery' rel="usezoom: 'zoom1', smallimage: '~/images/client/ProductImages/default-image.jpg' "><img src="~/images/client/ProductImages/default-image.jpg" alt="thumbnail 1" /></a>
                                }
                            </li>
                                }
                            </ul>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">
                        <div class="product-name ">
                            <p class="productnamedetail">@Html.Raw(Model.Item.Name)</p>
                        </div>
                        <div class="price-box">
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price"> @CommonFunctions.FormatNumber(Model.Item.Price, 0)&#8363; </span> </p>
                            <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">@CommonFunctions.FormatNumber(Model.Item.Price, 0)&#8363; </span> </p>
                        </div>
                        <div class="ratings">

                            <!--Đánh giá sao trung bình-->
                            <div class="rateit" data-rateit-value=@Html.Raw(Model.Average) data-rateit-readonly="true"> </div>
                            <!--Đánh giá sao trung bình-->
                            @*<div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>*@
                            @*<p class="rating-links"> <a href="#">@Html.Raw(Model._countComment) Bình luận: (s)</a> <span class="separator">|</span> <a href="#">Thêm bình luận của bạn</a> </p>*@
                            @if (Model.Item.Quantity == 0)
                            {
                                <p class="availability out-of-stock pull-right"><span>Hết hàng</span></p>

                            }
                            else
                            {
                                //<p>@Html.Raw(Model.Item.Quantity) Sản phẩm trong kho</p>
                                <p class="availability in-stock pull-right"><span>Còn hàng</span></p>

                            }
                        </div>
                        <br />
                        <div>
                            <p>
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                @Html.Raw(Model.Item.View) Lượt xem
                            </p>
                            <p id="gotocomment1" class="rating-links">
                                <a href="#review" class="red">
                                    <i class="fa fa-comments" aria-hidden="true"></i>
                                    @Html.Raw(Model._countComment) Bình luận
                                </a> <span class="separator">|</span> <a id="gotocomment" class="red" href="#review">Thêm bình luận của bạn</a>
                            </p>

                        </div>


                        <div class="product-variation">
                            <form method="post">
                                <div class="cart-plus-minus">
                                    <label for="qty">Quantity:</label>
                                    <div class="numbers-row">
                                        <div onClick="var result = document.getElementById('txtQuantity'); var qty = result.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) result.value--;return false;" class="dec qtybutton"><i class="fa fa-minus">&nbsp;</i></div>
                                        <input class="qty" title="Qty" value="1" id="txtQuantity" name="txtQuantity">
                                        <input id="itemQty" name="itemQty" type="hidden" value=@Model.Item.Quantity>
                                        <div onClick="var result = document.getElementById('txtQuantity'); var qty = result.value; if (!isNaN(qty) && result.value < @Model.Item.Quantity) result.value++; return false;" class="inc qtybutton"><i class="fa fa-plus">&nbsp;</i></div>
                                    </div>
                                </div>
                                <button class="button pro-add-to-cart" id="btnAddToCart" data-id="@Model.ItemId" title="Thêm vào giỏ" type="button"><span><i class="fa fa-shopping-basket"></i>Thêm vào giỏ</span></button>
                            </form>
                        </div>
                        <div class="product-cart-option">
                            x
                            <ul>
                                <li><a href="#"><i class="fa fa-heart-o"></i><span>Thêm vào danh sách yêu thích</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="products-view">
                    <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                        <li id="description" class="active"> <a class="tabproduct" href="#descriptions" data-toggle="tab"> Mô tả sản phẩm </a> </li>
                        <li id="review"> <a class="tabproduct" href="#reviews" data-toggle="tab">Đánh giá</a> </li>
                        <li id="product_tag"><a class="tabproduct" href="#product_tags" data-toggle="tab">Thẻ</a></li>
                        <li id="custom_tag"> <a class="tabproduct" href="#custom_tabs" data-toggle="tab">Tùy chỉnh</a> </li>
                    </ul>
                </div>
                <div class="product-overview-tab ">
                    <div class="product-tab-inner">
                        @*<ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                <li id="description" class="active"> <a class="tabproduct" href="#descriptions" data-toggle="tab"> Mô tả sản phẩm </a> </li>
                                <li id="review"> <a class="tabproduct" href="#reviews" data-toggle="tab">Đánh giá</a> </li>
                                <li id="product_tag"><a class="tabproduct" href="#product_tags" data-toggle="tab">Thẻ</a></li>
                                <li id="custom_tag"> <a class="tabproduct" href="#custom_tabs" data-toggle="tab">Tùy chỉnh</a> </li>
                            </ul>*@
                        <div id="productTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="descriptions">
                                <div class="std">
                                    <p>
                                        @Html.Raw(Model.Item.Description)
                                    </p>
                                </div>
                            </div>
                            <div id="reviews" class="tab-pane fade">
                                <div class="col-sm-12 col-lg-12 col-md-12">
                                    <div class="reviews-content-left">
                                        @if (cus != null)
                                        {
                                            <input data-customerid="@cus.Id" id="data-cus-hidden" hidden />
                                        }
                                        <input data-itemid="@Model.ItemId" id="data-item-hidden" hidden />
                                        @if (Model.CustomerCommentViewModel != null)
                                        {
                                            @foreach (var item in Model.CustomerCommentViewModel)
                                            {
                                                <div class="review-ratting">
                                                    <p>@item.Content</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <th>Hài lòng:</th>
                                                                <td>
                                                                    <div class="rateit" data-rateit-value=@Html.Raw(item.Evaluation) data-rateit-readonly="true"> </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <p class="author">
                                                        <img class="avatar" src="@(string.IsNullOrEmpty(item.CustomerAvatar) == false ? $"/images/shared/avatar/{item.CustomerAvatar}" : "  /images/admin/user.png")">  @item.CustomerName
                                                        <small> (Đăng lên vào @item.DateCreated)</small>
                                                    </p>
                                                    <hr />
                                                </div>
                                            }
                                        }

                                        <!--Đánh giá của bạn-->
                                        <br />
                                        @if (cus != null)
                                        {
                                            <input id="datahidden-cus" data-customerid="@cus.Id" hidden />

                                        }
                                        <input id="datahidden-item" data-itemid="@Model.ItemId" hidden />
                                        @if (Model.isordered)
                                        {
                                            <div id="frmreview">

                                                <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Viết đánh giá của bạn:</h2>
                                                <form class="frmEvaluation" method="post">
                                                    <!--Đánh giá sao-->
                                                    <div id="rateit_star" class="rateit" data-rateit-value="5" data-rateit-readonly="false" data-customerid="@cus.Id" data-itemid="@Model.ItemId"> </div>
                                                    <!--Đánh giá sao-->
                                                    <div class="form-area">
                                                        <div class="form-element">
                                                            <textarea name="txtConten" id="txtContent" class="textarea-comment" placeholder="Mời bạn để lại bình luận..."></textarea>
                                                        </div>
                                                        @*<div class="buttons-set">*@
                                                        @*<button id="btnReview" class="button submit" title="Submit Review" type="submit"><span><i class="fa fa-thumbs-up"></i> &nbsp;Review</span></button>*@
                                                        <button id="btnReview" class="button submit" title="Submit Review" type="button"><span><i class="fa fa-thumbs-up"></i> &nbsp;Đăng</span></button>
                                                        @*</div>*@
                                                    </div>
                                                </form>

                                            </div>
                                        }
                                        else
                                        {
                                            <h2 class="center-block">
                                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                                                Vui lòng mua sản phẩm để đánh giá!
                                            </h2>
                                        }
                                        <!--//Đánh giá của bạn-->
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product_tags">
                                <div class="box-collateral box-tags">
                                    <div class="tags">
                                        <form id="addTagForm" action="#" method="get">
                                            <div class="form-add-tags">
                                                <div class="input-box">
                                                    <label for="productTagName">Thêm thẻ của bạn:</label>
                                                    <input class="input-text" name="productTagName" id="productTagName" type="text">
                                                    <button type="button" title="Add Tags" class="button add-tags"><i class="fa fa-plus"></i> &nbsp;<span>Thêm</span> </button>
                                                </div>
                                                <!--input-box-->
                                            </div>
                                        </form>
                                    </div>
                                    <!--tags-->
                                    <p class="note">
                                        Sử dụng khoảng trắng để tách các thẻ. Sử dụng dấu ngoặc đơn (') cho các cụm từ.
                                    </p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="custom_tabs">
                                <div class="product-tabs-content-inner clearfix">
                                    <p>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- service section -->
<div class="jtv-service-area">
    <div class="container">
        <div class="row">
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper ship">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-paper-plane icon-service"></i></div>
                        <div class="service-wrapper">
                            <h3>Miễn phí vận chuyển</h3>
                            <p>Đơn hàng trên 50k</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12 ">
                <div class="block-wrapper return">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-rotate-right icon-service"></i></div>
                        <div class="service-wrapper">
                            <h3>Bảo mật thanh toán</h3>
                            <p>Momo, ATM, Paypal</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper support">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-umbrella icon-service"></i></div>
                        <div class="service-wrapper">
                            <h3>Hỗ trợ 24/7</h3>
                            <p>Điện thoại: 016769276</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 col-sm-6 col-xs-12">
                <div class="block-wrapper user">
                    <div class="text-des">
                        <div class="icon-wrapper"><i class="fa fa-tags icon-service"></i></div>
                        <div class="service-wrapper">
                            <h3>Ưu đãi khách hàng cũ</h3>
                            <p>25% cho đơn hàng trên 200k</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
