@page
@using System.Web
@using DAL.Models
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Http.Extensions
@model OnlineStore.Pages.Product.DetailModel
@using OnlineStore.Extensions

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Layout/_HomeLayout.cshtml";
}

@{
    int numberOfComments = 0;
    if (@ViewBag.thongTinNguoiDung != null)
    {
        numberOfComments = ViewBag.thongTinNguoiDung.Count;
    }
    var cus = HttpContext.Session.Get<Customer>("Customer");
}
<input type="hidden" value="@cus" id="sessionCustomer" />
<div class="product">
    <div class="container">
        @*<div class="col-md-9 product-price1">*@
        <div class="col-md-4 single-top">
            <div class="flexslider">
                <ul class="slides">
                    <li data-thumb="@Url.Content("~/images/ProductImages/"+Model.Item.Image)">
                        <img class="img-responsive" src="@Url.Content("~/images/ProductImages/"+Model.Item.Image)" style="width: 400px; height: 400px;" />
                    </li>
                    @*<li data-thumb="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh1)">
                            <img src="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh1)" />
                        </li>
                        <li data-thumb="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh2)">
                            <img src="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh2)" />
                        </li>
                        <li data-thumb="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh3)">
                            <img src="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh3)" />*@
                    @*</li>*@
                </ul>
            </div>
            <!-- FlexSlider -->
            <script defer src="~/Content/ProductLayout/js/jquery.flexslider.js"></script>
            <link rel="stylesheet" href="~/Content/ProductLayout/css/flexslider.css" type="text/css" media="screen" />
            @*<script src="~/Content/js/jquery.min.js"></script>*@
            <script src="~/Content/ProductLayout/js/review.js"></script>
            <link href="~/Content/CssFont/css/font-awesome.min.css" rel="stylesheet" />
            @*<link href="~/Content/ProductLayout/css/bootstrap-rating.css" rel="stylesheet" />*@

            <script src="~/Content/ProductLayout/js/bootstrap-rating.min.js"></script>
            @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
                <link href="~/Content/ProductLayout/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />*@
            <script>
                // Can also be used with $(document).ready()
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        controlNav: "thumbnails"
                    });
                });
            </script>
        </div>
        <div class="col-md-8 single-top-in simpleCart_shelfItem">
            <div class="single-para ">
                <h4>@Model.Item.Name</h4>
                <div class="star-on">
                    @if (numberOfComments == 0)
                    {
                        <label>Chưa có đánh giá nào</label>
                    }
                    else
                    {
                        <ul class="star-footer">
                            <input type="hidden" value="@ViewBag.DiemTrungBinh" class="rating" data-filled="fa fa-star fa-3x" data-empty="fa fa-star-o fa-3x" disabled />
                            @*<li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>
                                <li><a href="#"><i> </i></a></li>*@
                        </ul>
                    }
                    @*<div class="review">
                          <a href="#"> Lượt xem: @Model.LuotXem</a>
                        </div>*@
                    <div class="clearfix"> </div>
                </div>
                <hr />
                <h5 class="item_price">Giá: @Model.Item.Price.ToString("#,##") VNĐ</h5>
                <p>
                    @*@Html.Raw(Model.CauHinh)*@
                </p>
                @*@Ajax.ActionLink("Thêm vào giỏ hàng", "ThemGioHangAjax", "GioHang", new { @MaSP = Model.Item.Id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divGioHang", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-primary center-block" })*@
                @*<form asp-page="/Cart/Create" data-ajax-method="POST" data-ajax="true" data-ajax-update="divGioHang"
                          data-ajax-mode="replace" asp-route-itemId="@item.Id" asp-route-strUrl="@Request.GetEncodedUrl()" class="btn btn-primary center-block">
                        Thêm vào giỏ hàng
                    </form>*@
                <a class="add-cart item_add" id="addCart">Thêm vào giỏ hàng</a>
                @*<a href="#" class="add-cart item_add">Thêm vào giỏ hàng</a>*@
            </div>
            <hr />
        </div>
        <div class="clearfix"> </div>
        <div class="cd-tabs">
            <nav>
                <ul class="cd-tabs-navigation">
                    <li><a data-content="Information" class="selected" href="#0">Thông tin sản phẩm</a></li>
                    <li><a data-content="Comment" href="#0">Nhận xét từ khách hàng (@numberOfComments)</a></li>
                </ul>
            </nav>
            <ul class="cd-tabs-content">
                <li data-content="Information" class="selected">
                    <div class="facts">
                        @Html.Raw(Model.Item.Description)
                    </div>
                </li>
                <li data-content="Comment">
                    <div class="comments-top-top">
                        @*<div class="top-comment-left">
                              <img class="img-responsive" src="images/co.png" alt="">
                            </div>*@
                        @if (ViewBag.thongTinNguoiDung == null)
                        {
                        }
                        else
                        {
                            foreach (var itemDanhGia in ViewBag.thongTinNguoiDung)
                            {
                                <div class="top-comment-right">
                                    <h6><a href="#">@itemDanhGia.HoTen</a></h6><br />
                                    <div>@itemDanhGia.ThoiDiem</div>
                                    <ul class="star-footer">
                                        <input type="hidden" value="@itemDanhGia.DiemDanhGia" class="rating" data-filled="fa fa-star fa-3x" data-empty="fa fa-star-o fa-3x" disabled />
                                        @*<li><a href="#"><i> </i></a></li>
                                            <li><a href="#"><i> </i></a></li>
                                            <li><a href="#"><i> </i></a></li>
                                            <li><a href="#"><i> </i></a></li>
                                            <li><a href="#"><i> </i></a></li>*@
                                    </ul>
                                    <p>@itemDanhGia.NoiDungBL</p>
                                </div>
                            }
                        }
                        <div class="clearfix"> </div>
                        @if (HttpContext.Session.Get<Customer>("Customer") == null)
                        {
                            <a id="btnDangNhap" class="add-re" href="#">Đăng nhập để đánh giá</a>
                        }
                        else
                        {
                            <a class="add-re" href="#reviews-anchor" id="open-review-box">Thêm nhận xét</a>
                            <div class="row" id="post-review-box" style="display:none;">
                                <div class="col-md-12">
                                    @*<form accept-charset="UTF-8" action="" method="post">*@
                                    <form asp-page="/Product/SendFeedBack" data-ajax="true" data-ajax-method="GET" asp-route-itemId="@Model.Item.Id" asp-route-url="@Request.GetEncodedUrl()" data-ajax-success="onSuccess">
                                        @*@using (Ajax.BeginForm("GuiDanhGia", "SanPham", new { @maSP = Model.MaSP, @url = Request.Url.ToString() }, new AjaxOptions { OnSuccess = "onSuccess" }))
                                            {*@
                                        @*<input id="ratings-hidden" name="rating" type="hidden">*@
                                        @*<input name="rating" type="hidden"/>*@
                                        <label>Đánh giá của bạn về sản phẩm này</label>
                                        <input type="hidden" class="rating" data-filled="fa fa-star fa-3x" data-empty="fa fa-star-o fa-3x" name="rating" />
                                        <textarea class="form-control animated" cols="50" id="new-review" name="comment"
                                                  placeholder="Viết nhận xét của bạn" rows="5"></textarea>
                                        <div class="text-right">
                                            <button class="btn btn-danger" type="button" id="close-review-box">Hủy</button>
                                            <button class="btn btn-success" type="submit">Lưu</button>
                                        </div>
                                        @*}*@
                                    </form>
                                    @*</form>*@
                                </div>
                            </div>
                        }
                    </div>
                </li>
            </ul>
        </div>
        <!---->
    </div>
    <div class="col-md-3">

    </div>
    <div id="popup_login">
        <div class="login-form" id="login-form">
            <div style="clear:both;text-align:right;margin-bottom:0;">
                <span id="close-form" class="btn btn-danger">X</span>
            </div>
            <h2>Đăng nhập</h2>
            <div class="form-info">
                @*<form asp-page="/Account/Login" data-ajax-method="POST" data-ajax="true" data-ajax-update="ThongBao">*@
                <form asp-page="/Account/Login" method="post">
                    <input type="hidden" name="url" value="@HttpContext.Request.Path" />
                    <input type="hidden" name="itemId" value="@Model.Item.Id" />
                    <input class="email TaiKhoan" name="username" placeholder="Email hoặc số điện thoại" required="" type="text">
                    <input class="password MatKhau" name="password" placeholder="Mật khẩu" required="" type="password">
                    <p><a href="#">Quên mật khẩu?</a></p>
                    <p>Chưa có tài khoản? <a asp-page="/Account/Register">Đăng ký ngay</a></p>
                    <h3 style="font-weight:bold;color:red;text-align:left;" id="ThongBao"> </h3>
                    <ul class="login-buttons">
                        <li><input value="Đăng nhập" class="hvr-sweep-to-left" type="submit" id="btnDangNhap1"></li>
                        @*<li><input value="Đăng ký" class="hvr-sweep-to-left" type="submit" id="btnDangNhap1"></li>*@
                        @*<li><a href="#" class="hvr-sweep-to-left">Đăng ký</a></li>*@
                    </ul>
                </form>
                @*}*@

            </div>
        </div>
    </div>
</div>

<style>
    #close-form {
        color: white;
    }

    #login-form {
        background: #3a3a46;
        cursor: pointer;
    }
    /*css cho phần div popup_login*/
    #popup_login {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
        z-index: 9999;
        display: none;
    }

    ul {
        text-align: left;
    }
</style>

@section Scripts{
    <script>
        $('#addCart').click(function () {
            if ($('#sessionCustomer').val() !== "") {
                $.ajax({
                        type: 'GET',
                        url: "/Cart/Create?handler=AddItem&itemId=@Model.Item.Id"
                    })
                    .done(function (result) {
                        debugger;
                        toastr.success("Thêm sản phẩm vào giỏ hàng thành công");
                    }).fail(function (result) {
                        debugger;
                        //debugger;
                        toastr.error("Thêm sản phẩm vào giỏ hàng thất bại");
                    });
            } else {
                $("#popup_login").show();
            }
        });

        $("#btnDangNhap1").click(function () {
            console.log("Đã click vào hàm đăng nhập");
            $.ajax({
                type: 'POST',
                url: "/Account/Login"
            })
                .done(function (result) {
                    console.log("Đã done trong hàm đăng nhập");
                    console.log(result);
                    debugger;
                    toastr.success("Thêm sản phẩm vào giỏ hàng thành công");
                })
                .fail(function (result) {
                    debugger;
                    console.log("Đã fail trong hàm đăng nhập");
                    console.log(result);
                    toastr.error("Thêm sản phẩm vào giỏ hàng thất bại");
                });
        });

        ////Hiển thị popup_login
        //$("#btnDangNhap").click(function() {
        //    $("#popup_login").show();
        //});
        ////Ẩn đi popup_login
        //$("#close-form").click(AnForm);

        ////Định nghĩa function ẩn form
        //function AnForm() {
        //    $("#popup_login").hide();
        //}

        ////Ví dụ về lấy giá trị từ textbox
        //$("#btnDangNhap1").click(function() {
        //    var TaiKhoan = $(".TaiKhoan").val();
        //    var MatKhau = $(".MatKhau").val();
        //    if (TaiKhoan == "") {
        //        toastr.error("Đã có lỗi xãy ra");
        //        return;
        //    }
        //});
        //var onSuccess = function(result) {
        //    if (result.url) {
        //        // if the server returned a JSON object containing an url
        //        // property we redirect the browser to that url
        //        window.location.href = result.url;
        //    }
        //}
    </script>
}