@page
@model OnlineStore.Pages.Admin.Orders.IndexModel

@{
    ViewData["Title"] = "Quản lý đơn hàng";
}

@section Styles{
    <link href="~/lib/jquery-easyui-1.7.6/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jquery-easyui-1.7.6/themes/icon.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/jquery-easyui-1.7.6/jquery.easyui.min.js"></script>
    <script src="~/js/admin/order.js" asp-append-version="true"></script>
    <script>
        order.init();
    </script>
}

<form method="post">
    <div class="page-title">
        <div class="title_left">
            <h3>Danh sách các đơn hàng</h3>
        </div>

        <div class="title_right">
            <div class="col-md-3 col-sm-5 col-xs-12 form-group pull-right">
                <div class="input-group">
                    <input type="text" id="txtKeyword" class="form-control" placeholder="Mã đơn hàng">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" id="btnSearch" type="button">Tìm</button>
                    </span>
                </div>
            </div>
            <div class="col-md-3 col-sm-12  form-group pull-right">
                @*<select class="form-control" id="ddlCategorySearch"></select>*@
                <select class="form-control" id="ddlOrderStatus" asp-for="Order.Status" asp-items="Html.GetEnumSelectList<DAL.Data.Enums.OrderStatus>()"></select>
            </div>
            <div class="col-md-3 col-sm-12  form-group pull-right">
                @*<select class="form-control" id="ddlCategorySearch"></select>*@
                <select class="form-control" id="ddlDeliveryType" asp-for="Order.DeliveryType" asp-items="Html.GetEnumSelectList<DAL.Data.Enums.DeliveryType>()"></select>
            </div>
            @*<div class="col-md-6 col-sm-12  form-group pull-right">
            <button id="btnCreate" type="button" class="btn btn-success">Tạo</button>
            <a class="btn btn-danger" href="~/templates/ProductImportTemplate.xlsx">Tải mẫu nhập</a>
            <button class="btn btn-primary" id="btn-import" type="button">Nhập sản phẩm từ file</button>
            <button class="btn btn-default" id="btn-export" type="button">Xuất sản phẩm ra file</button>
        </div>*@
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Ngày đặt hàng</th>
                            <th>Nhận hàng tại showroom</th>
                            <th>Trạng thái</th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script id="table-template" type="x-tmpl-mustache">
        <tr>
            <td>{{Id}}</td>
            <td>{{OrderDate}}</td>
            <td>{{IsSelfReceive}}</td>
            <td>{{Status}}</td>
            @*<td>{{Price}}</td>
                <td>{{CreatedDate}}</td>*@
            <th>
                <a class="btn btn-sm btn-edit" data-id="{{Id}}"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-delete" data-id="{{Id}}"><i class="fa fa-trash"></i></a>
                @*<a href="#" data-id="{{Id}}" class="btn btn-xs btn-images"><i class="fa fa-image"></i></a>
                    <a href="#" data-id="{{Id}}" class="btn btn-xs btn-quantity"><i class="fa fa-hourglass-start"></i></a>
                    <a href="#" data-id="{{Id}}" class="btn btn-xs btn-whole-price"><i class="fa fa-money"></i></a>*@
            </th>
        </tr>
    </script>
</form>
<partial name="_OrderDetailModal" />
@*<table class="table">
    <thead>
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].DeliveryDate)
            </th>
            <th>
                Ngày đặt hàng
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Order[0].Bonus)
        </th>*@
@*<th>
        @Html.DisplayNameFor(model => model.Order[0].EmployeeId)
    </th>*@
@*<th>
        @Html.DisplayNameFor(model => model.Order[0].ShippingFee)
    </th>
        <th>
            @Html.DisplayNameFor(model => model.Orders[0].Status)
        </th>
        @*<th>
        @Html.DisplayNameFor(model => model.Order[0].Customer)
    </th>*@
@*<th>
                @Html.DisplayNameFor(model => model.Order[0].Timestamp)
            </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.Orders) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                @*<td>
                @Html.DisplayFor(modelItem => item.Bonus)
            </td>*@
@*<td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingFee)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @*<td>
                @Html.DisplayFor(modelItem => item.Customer.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Chi tiết</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
