@page
@model OnlineStore.Pages.Cart.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Layout/ProductLayout.cshtml";
}

@*@{
        List<ItemGioHang> lstGioHang = ViewBag.GioHang as List<ItemGioHang>;
    }*@

<table class="table">
    <tr>
        <td>Mã SP</td>
        <td>Tên SP</td>
        <td>Hình ảnh</td>
        <td>Số lượng</td>
        <td>Đơn giá</td>
        <td>Thành tiền</td>
        <td></td>
    </tr>
    @foreach (var item in Model.ItemCarts)
    {
        //Sản phẩm có mã sản phẩm được chỉnh gửi từ tham số bên trang xem giỏ hàng
        //if (Model.MaSP == item.Id)
        //{
        <form asp-page="/Cart/Update" method="post">
            @*using (Html.BeginForm("CapNhatGioHang", "GioHang"))
                {*@
            <tr>
                <td>@item.Id @Html.Hidden("MaSP", item.Id)</td>
                <td>@item.Name</td>
                <td><img src="@Url.Content("~/Content/HinhAnhSP/"+item.Image)" width="50" height="50" /></td>
                <td>
                    @Html.TextBox("SoLuong", item.Quantity, new { @class = "SoLuongThayDoi" })
                    <p id="TB_SoLuongThayDoi"></p>
                </td>
                <td>@item.Price.ToString("#,##") đồng</td>

                <td>@item.Amount.ToString("#,##") đồng</td>
                <td>
                    <input type="submit" value="Cập nhật" id="btnCapNhatGH" />
                    @*@Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.Id })*@
                </td>

            </tr>
        </form>
    }
    @*else
        {*@
    @*<tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><img src="@Url.Content("~/Content/HinhAnhSP/"+item.Image)" width="50" height="50" /></td>
            <td>@item.Quantity</td>
            <td>@item.Price.ToString("#,##") đồng</td>
            <td>@item.Amount.ToString("#,##") đồng</td>
            <td>
                @Html.ActionLink("Sửa", "SuaGioHang", new { @MaSP = item.Id })
                @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSP = item.Id })
            </td>
        </tr>*@
    //}
    }
</table>

@*Kiểm tra số lượng thay đổi*@
<script>
    $("#btnCapNhatGH").click(function () {
        //Kiểm tra số lượng không phải là số hoặc nhỏ hơn 0
        var SoLuong = $(".SoLuongThayDoi").val();
        if (isNaN(SoLuong) == true || SoLuong < 0) {
            $("#TB_SoLuongThayDoi").text("Số lượng không hợp lệ!");
            return false;
        }

    });
</script>




