@page
@model OnlineStore.Pages.Cart.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Layout/_HomeLayout.cshtml";
}

<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Thông tin sản phẩm</th>
                <th style="width:10%">Giá</th>
                <th style="width:8%">Số lượng</th>
                <th style="width:22%" class="text-center">Thành tiền</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomerCartViewModel)
            {
                <tr>
                    <td data-th="Product">
                        <div class="row">
                            <input type="hidden" class="itemId" value="@item.ItemId" />
                            <input type="hidden" class="cartId" value="@item.CartId" />
                            <div class="col-sm-2 hidden-xs"><img src="~/images/ProductImages/@item.Image" alt="..." class="img-responsive" /></div>
                            <div class="col-sm-10">
                                <h4 class="nomargin">@item.ItemName</h4>
                                @*<p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>*@
                            </div>
                        </div>
                    </td>
                    <td data-th="Price" class="price">@item.Price</td>
                    <td data-th="Quantity">
                        <input type="number" class="form-control text-center UpdateQuantity" value="@item.Quantity" min="1">
                    </td>
                    <td data-th="Subtotal" class="text-center subtotal">@item.Subtotal</td>
                    <td class="actions" data-th="">
                        @*<button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>*@
                        <button class="btn btn-danger btn-sm deleteItem"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="visible-xs">
                <td class="text-center"><strong></strong></td>
            </tr>
            <tr>
                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td id="total" class="hidden-xs text-center"><strong></strong></td>
                <td><a asp-page="/Order/Address" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts{
    <script>
        var subtotal;
        var total = 0;
        $(".subtotal").each(function() {
            total += parseInt($(this).html());
        });
        $("#total").html("Tổng: "+total);

        $(".UpdateQuantity").click(function () {
            var quantity = $(this).closest("tr").find('input[type=number]').val();
            console.log(quantity);
            var price = $(this).closest("tr").find(".price").text();
            subtotal = parseInt(quantity, 10) * parseInt(price, 10);
            $(this).closest("tr").find(".subtotal").html(subtotal);
            total = 0;
            $(".subtotal").each(function () {
                total += parseInt($(this).html());
            });
            $("#total").html("Tổng: " + total);
            $.ajax({
                    type: "GET",
                    url: "/Cart/Edit?handler=UpdateQuantity",
                    data: {
                        "itemId": $(this).closest("tr").find('.itemId').val(),
                        "cartId": $(this).closest("tr").find('.cartId').val(),
                        "newQuantity": $(this).closest("tr").find('input[type=number]').val()
                    }
                })
                .done(function () {
                    
                })
                .fail(function () {
                    toastr.success("Xóa sản phẩm khỏi giỏ hàng thất bại");
                });
        });


        //function UpdateQuantity() {

        //    //$.ajax({
        //    //    type: "GET",
        //    //    url: "/Cart/Edit?handler=UpdateQuantity",
        //    //    data: {
        //    //        "itemId": $(this).closest("tr").find('.itemId').val(),
        //    //        "cartId": $(this).closest("tr").find('.cartId').val(),
        //    //        "newQuantity": $(this).closest("tr").find('input[type=number]').val()
        //    //    }
        //    //    })
        //    //    .done(function () {
        //    //        console.log(parseInt($(this).closest("tr").find('input[type=number]').val(), 10));
        //    //        console.log(parseInt($(".price").text(), 10));
        //    //        subtotal = parseInt($("input[type=number]").val(), 10) * parseInt($(".price").text(), 10);
        //    //        $(".subtotal").html(subtotal);
        //    //        total = 0;
        //    //        $(".subtotal").each(function() {
        //    //            total += parseInt($(this).html());
        //    //        });
        //    //        $("#total").html("Tổng: "+total);
        //    //    })
        //    //    .fail(function () {
        //    //        toastr.success("Xóa sản phẩm khỏi giỏ hàng thất bại");
        //    //    });
        //}

        $(".deleteItem").click(function () {
            $.ajax({
                    type: "GET",
                    url: "/Cart/Delete?handler=Delete",
                    data: {
                        "itemId": $(this).closest("tr").find('.itemId').val(),
                        "cartId": $(this).closest("tr").find('.cartId').val()
                    }
                })
                .done(function () {
                    location.reload();
                    toastr.success("Xóa sản phẩm khỏi giỏ hàng thành công");
                })
                .fail(function () {
                    toastr.success("Xóa sản phẩm khỏi giỏ hàng thất bại");
                });
        });
    </script>
}