@page
@model OnlineStore.Pages.Order.AddressModel
@using DAL.Data.Entities
@using DAL.Models
@using OnlineStore.Extensions
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Layout/_HomeLayout.cshtml";
}
@{
    var cus = HttpContext.Session.Get<ApplicationUser>("UserSession");
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Vận chuyển đơn hàng đến&hellip;</h3>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        @foreach (var address in Model.AddressOfCustomer)
                        {
                            <div class="row radio">
                                <div class="col-xs-3">
                                    <label>
                                        <input type="radio" class="optionShip" value="@address.Id">
                                        @address.Province
                                    </label>
                                </div>
                                <div class="col-xs-5">
                                    <dl class="dl-small">
                                        <dd>@address.Detail</dd>
                                    </dl>
                                    <button class="btn btn-sm btn-link editAddress">Edit</button>
                                    <a class="btn btn-sm btn-link" asp-page="/Order/Address" asp-page-handler="DeleteAddress" asp-route-addressId="@address.Id">Xóa địa chỉ này</a>
                                    <input class="idAddress" value="@address.Id" type="hidden" />
                                    <input class="Detail" value="@address.Detail" type="hidden" />
                                    <input class="District" value="@address.District" type="hidden" />
                                    <input class="PhoneNumber" value="@address.PhoneNumber" type="hidden" />
                                    <input class="Province" value="@address.Province" type="hidden" />
                                    <input class="Ward" value="@address.Ward" type="hidden" />
                                </div>
                                <div class="col-xs-4">
                                    <label>Phí vận chuyển:</label>
                                    @if (address.Province == "Hồ Chí Minh")
                                    {
                                        <label class="shippingFee">10000</label>
                                    }
                                    else
                                    {
                                        <label class="shippingFee">30000</label>
                                    }
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <button class="btn btn-sm btn-link" id="addAddress">Thêm địa chỉ mới</button>
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                @*<div class="radio">
                                        <label>
                                            <input type="radio" name="optionShipp" id="optionShipp2" value="option2" checked>
                                            Thêm địa chỉ mới
                                        </label>
                                    </div>*@
                            </div>
                            <div class="col-xs-9">
                                <form role="form" method="post" id="addressForm" style="display: none" asp-page-handler="Address">
                                    <input type="hidden" name="Id" id="Id" />
                                    @*<div class="form-group">
                                            <label for="inputname">Tên người nhận</label>
                                            <input type="text" class="form-control form-control-large" id="inputname" placeholder="Nhập họ tên người nhận">
                                        </div>*@
                                    <div class="form-group">
                                        <label for="inputAddress1">Số điện thoại</label>
                                        <input type="text" class="form-control form-control-large" name="PhoneNumber" id="PhoneNumber" placeholder="Nhập số điện thoại">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress2">Phường/Xã</label>
                                        <input type="text" class="form-control form-control-large" name="Ward" id="Ward" placeholder="Nhập tên phường/xã">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress2">Quận/Huyện</label>
                                        <input type="text" class="form-control form-control-large" name="District" id="District" placeholder="Nhập tên quận/huyện">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputState" class="control-label">Tỉnh/Thành phố</label>
                                        <select class="form-control form-control-large" name="Province" id="Province">
                                            <option>Select state</option>
                                            <option>An Giang</option>
                                            <option>Bà Rịa-Vũng Tàu</option>
                                            <option>Bắc Kạn</option>
                                            <option>Bắc Giang</option>
                                            <option>Bắc Ninh</option>
                                            <option>Bến Tre</option>
                                            <option>Bình Dương</option>
                                            <option>Bình Định</option>
                                            <option>Bình Phước</option>
                                            <option>Bình Thuận</option>
                                            <option>Cà Mau</option>
                                            <option>Cao Bằng</option>
                                            <option>Cần Thơ</option>
                                            <option>Đà Nẵng</option>
                                            <option>Đắk Lắk </option>
                                            <option>Đắk Nông</option>
                                            <option>Điện Biên</option>
                                            <option>Đồng Nai</option>
                                            <option>Đồng Tháp</option>
                                            <option>Gia Lai</option>
                                            <option>Hà Giang</option>
                                            <option>Hà Nam</option>
                                            <option>Hà Nội</option>
                                            <option>Hà Tĩnh</option>
                                            <option>Hải Dương</option>
                                            <option>Hải Phòng</option>
                                            <option>Hòa Bình</option>
                                            <option>Hồ Chí Minh</option>
                                            <option>Hậu Giang</option>
                                            <option>Hưng Yên</option>
                                            <option>Khánh Hòa</option>
                                            <option>Kiên Giang</option>
                                            <option>Kon Tum</option>
                                            <option>Lai Châu</option>
                                            <option>Lào Cai</option>
                                            <option>Lạng Sơn</option>
                                            <option>Lâm Đồng</option>
                                            <option>Long An </option>
                                            <option>Nam Định</option>
                                            <option>Nghệ An</option>
                                            <option>Ninh Bình</option>
                                            <option>Ninh Thuận</option>
                                            <option>Phú Thọ</option>
                                            <option>Phú Yên</option>
                                            <option>Quảng Bình</option>
                                            <option>Quảng Nam</option>
                                            <option>Quảng Ngãi</option>
                                            <option>Quảng Ninh</option>
                                            <option>Quảng Trị</option>
                                            <option>Sóc Trăng</option>
                                            <option>Sơn La</option>
                                            <option>Tây Ninh</option>
                                            <option>Thái Bình</option>
                                            <option>Thái Nguyên</option>
                                            <option>Thanh Hóa</option>
                                            <option>Thừa Thiên - Huế</option>
                                            <option>Tiền Giang</option>
                                            <option>Trà Vinh</option>
                                            <option>Tuyên Quang</option>
                                            <option>Vĩnh Long</option>
                                            <option>Vĩnh Phúc</option>
                                            <option>Yên Bái</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress2">Địa chỉ nhận hàng chính xác</label>
                                        <input type="text" class="form-control form-control-large" name="Detail" id="Detail" placeholder="Nhập địa chỉ nhận hàng">
                                    </div>
                                    <button class="btn btn-sm">Lưu địa chỉ</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well">
                <a id="continue" class="btn btn-primary btn-lg btn-block">Tiếp tục</a>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css'>
    <style>
        .dl-small {
            margin-bottom: 4px;
        }

        /*body {
            margin: 0 auto;
            padding: 1em;
            max-width: 800px;
        }*/

        .form-control {
            width: auto;
        }

        .form-control-small {
            width: 100px;
        }

        .form-control-large {
            width: 310px;
        }
    </style>
}


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script>
        $("#continue").click(function () {
            var radioValue = $("input[class='optionShip']:checked").closest(".row").find(".shippingFee").text();
            var addressId = $("input[class='optionShip']:checked").val();
            window.location = "/Order/Payment?addressId=" + addressId + "&shippingFee=" + radioValue;
        });
        $(document).ready(function () {
            $("#addAddress").click(function () {
                $("#addressForm").toggle();
                $("#Id").val(0);
                $("#Detail").val("");
                $("#PhoneNumber").val("");
                $("#Ward").val("");
                $("#District").val("");
                $("#Province").val("");
            });
        });
        $(".editAddress").click(function () {
            $("#addressForm").show();
            $("#Id").val($(this).parent().find(".idAddress").val());
            $("#Detail").val($(this).parent().find(".Detail").val());
            $("#PhoneNumber").val($(this).parent().find(".PhoneNumber").val());
            $("#Ward").val($(this).parent().find(".Ward").val());
            $("#District").val($(this).parent().find(".District").val());
            $("#Province").val($(this).parent().find(".Province").val());
        });
    </script>
}