@page
@using Utilities.Commons
@using Utilities.Extensions
@model OnlineStore.Pages.Order.OrdersListModel
@{
    ViewData["Title"] = "OrdersList";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<section class="main-container col2-right-layout">
    <div class="main container">
        <div class="row">
            <div class="col-main col-sm-12 col-xs-12">
                <div class="my-account">
                    <div class="page-title">
                        <h2>Danh sách đơn hàng của tôi</h2>
                    </div>
                    <div class="orders-list table-responsive">
                        @if (Model.Orders.Count <= 0)
                        {
                            <h2>Bạn chưa đặt đơn hàng nào</h2>
                        }
                        else
                        {
                            <!--orders list table-->
                            <table class="table table-bordered cart_summary table-striped">
                                <thead>
                                    <tr>
                                        <!--titles for td-->
                                        <th>Mã đơn hàng</th>
                                        <th>Ngày đặt hàng</th>
                                        <th>Trạng thái đơn hàng</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model.Orders)
                                    {
                                        <tr>
                                            <!--order number-->
                                            <td data-title="Order Number"><a asp-page="/Order/MyOrder" asp-route-orderId="@order.Id" class="order-number">@order.Id</a></td>
                                            <!--order date-->
                                            <td data-title="Order Date">@CommonFunctions.FormatDateTime(order.OrderDate)</td>
                                            <!--order status-->
                                            <td data-title="Order Status">@order.Status.GetDisplayName()</td>
                                            <!--quanity-->
                                            @*<td data-title="Total"><span class="order-total">$79.00</span></td>*@
                                            <td class="a-center last"><span class="nobr"> <a class="btn btn-primary" asp-page="/Order/MyOrder" asp-route-orderId="@order.Id">Xem đơn hàng</a></span></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>