@page
@using DAL.Data.Entities
@using DAL.Models
@using OnlineStore.Extensions
@model OnlineStore.Pages.Order.PaymentModel
@{
    ViewData["Title"] = "Payment";
    Layout = "~/Pages/Layout/_HomeLayout.cshtml";
}
@{
    Customer cus = HttpContext.Session.Get<Customer>("Customer");
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Thông tin đơn hàng</h3>
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width: 50%">Thông tin sản phẩm</th>
                        <th style="width: 10%">Giá</th>
                        <th style="width: 8%">Số lượng</th>
                        <th style="width: 22%" class="text-center">Thành tiền</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CustomerCartViewModel)
                    {
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <input type="hidden" class="itemId" value="@item.ItemId" />
                                    <input type="hidden" class="cartId" value="@item.CartId" />
                                    <div class="col-sm-2 hidden-xs"><img src="~/images/ProductImages/@item.Image" alt="..." class="img-responsive" /></div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin">@item.ItemName</h4>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price" class="price">@item.Price</td>
                            <td data-th="Quantity">
                                <input type="text" disabled class="form-control text-center UpdateQuantity" value="@item.Quantity">
                            </td>
                            <td data-th="Subtotal" class="text-center subtotal">@item.Subtotal</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="visible-xs">
                        <td class="text-center"><strong></strong></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong>Phí giao hàng: @Model.ShippingFee</strong></td>
                    </tr>
                    <tr>
                        <td colspan="3" class="hidden-xs"></td>
                        <td id="total" class="hidden-xs text-center"><strong></strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Thanh toán với&hellip;</h3>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row radio">
                            <div class="col-xs-3">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                    Thanh toán qua thẻ tín dụng
                                </label>
                            </div>
                            @*<div class="col-xs-9">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <dl class="dl-small">
                                                <dt>Credit Card Number</dt>
                                                <dd>**********1111</dd>
                                            </dl>
                                        </div>
                                        <div class="col-xs-2">
                                            <dl class="dl-small">
                                                <dt>Expiration</dt>
                                                <dd>07/2016</dd>
                                            </dl>
                                        </div>
                                        <div class="col-xs-6">
                                            <dl class="dl-small">
                                                <dt>Billing Address</dt>
                                                <dd>1509 Latona St, Philadelphia, PA 19146 </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <button class="btn btn-sm">Edit</button>
                                    <button class="btn btn-sm btn-link">Delete this card</button>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="row radio">
                            <div class="col-xs-3">
                                <label data-toggl-e="collapse" data-target="#newcard">
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" checked>
                                    Thanh toán khi nhận hàng
                                </label>
                            </div>
                            <div class="col-xs-9">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="https://lovewithfood.com/assets/credit_cards/cards-b3a7c7b8345355bf110ebedfd6401312.png" height="25" alt="" />
                                    </a>
                                    <div class="media-body" id="newcard">
                                        Bạn sẽ trả tiền khi hàng đến chỗ nhận
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well">
                <a asp-page="/Order/Payment" asp-page-handler="Action" asp-route-customerId="@cus.Id" asp-route-shippingFee="@Model.ShippingFee" asp-route-addressId="@Model.AddressId" class="btn btn-primary btn-lg btn-block">Xác nhận mua hàng</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var subtotal;
        var total = 0;
        $(".subtotal").each(function () {
            total += parseInt($(this).html());
        });
        var shippingFee = @Model.ShippingFee;
        total += shippingFee;
        console.log(total);
        $("#total").html("Tổng: " + total);
    </script>
}